body {
  background-color: darkslateblue
}


a{
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

#navbar{
  display: block;
  justify-content: space-around
  float: right;
}

#content{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 15%;
  margin: 10%;
}
.Corona1{
  font-family: Arial, Helvetica, sans-serif
}
.Corona2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: 10px
}
.Corona3{
  font-family: Arial, Helvetica, sans-serif;
}
.card{
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}
}
#midia{
  display: flex;
  float: center;
  
  
}
