body {
  background-color: #504B43;
  padding:10 px;
}

a{
  float: left;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}
 
#Home {
  font-family: 'Bebas Neue', cursive;
  background-color: whitesmoke;
  text-align: left;
  
}

.dropbtn {
  background-color: #ED6931;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Oxanium', cursive;
}

.dropdown-content {
  display: none;
  font-family: "Oxanium", cursive;
  position: absolute;
  background-color: #6F8F72;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
 background-color: #6F8F72;
}

#content{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 8%;
  margin: 8%;
}
.Corona1{
  font-family: 'Oxanium', cursive;
}
.Corona2{
  font-family: 'Oxanium', cursive;
}
.Corona3{
  font-family: 'Oxanium', cursive;
}
#midia{
  display: flex;
  float: center;
  
  
}